{% extends '../index.html'%}
{% block content%}
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">新增轮播图</h3>
        <p class="panel-subtitle"></p>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <form class="form form-horizontal" id="addUser">

                    <div class="form-group">
                        <div class="col-sm-3 text-right col-xs-4">
                            <label class="control-label">分类</label>
                        </div>
                        <div class="col-sm-6 col-xs-8 ">
                            <select name="type" id="typeId" class="form-control">
                                <option value="1">网站</option>
                                <option value="2">小程序</option>
                                <option value="3">app</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right col-xs-4">
                            <label class="control-label">名称</label>
                        </div>
                        <div class="col-sm-6 col-xs-8 ">
                            <input type="text" required name="title" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right col-xs-4">
                            <label class="control-label">跳转地址</label>
                        </div>
                        <div class="col-sm-6 col-xs-8 ">
                            <input type="text" required name="link" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right col-xs-4">
                            <label class="control-label">轮播图</label>
                        </div>
                        <div class="col-sm-6 col-xs-8 ">
                            <input type="file" required id="upload_file" name="focusImg" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right col-xs-4">
                            <label class="control-label">排序</label>
                        </div>
                        <div class="col-sm-6 col-xs-8 ">
                            <input type="text" name="sort" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right col-xs-4">
                            <label class="control-label">状态</label>
                        </div>
                        <div class="col-sm-6 col-xs-8 ">
                            <label class="fancy-radio  control-label">
                                <input name="status" value="1" type="radio" checked>
                                <span><i></i>使用</span>
                            </label>
                            <label class="fancy-radio  control-label">
                                <input name="status" value="0" type="radio">
                                <span><i></i>禁用</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary btn-md">立即提交</button>
                        <button class="btn btn-default btn-md" type="reset">重置表单</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock%}
    {% block js%}
    <script src="/public/assets/vendor/jquery-validate/jquery.validate.js"></script>
    <script src="/public/assets/vendor/jquery-validate/messages_zh.js"></script>
    <script>
        // /admin/login
        $(function () {
            $("#addUser").validate({
                rules: {

                },
                message: {

                },
                submitHandler: function (form) {
                    var arr = $(form).serializeArray()
                    var pic = $('#upload_file')[0].files[0];
                    var fd = new FormData();
                    fd.append('focusImg', pic);
                    for (var i = 0; i < arr.length; i++) {
                        fd.append(arr[i].name, arr[i].value)
                    }
                    //console.log(fd)
                    $.ajax({
                        url: "/admin/banner/add?_csrf={{csrf}}",
                        type: "post",
                        // Form数据
                        data: fd,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            $.message(res.message, { time: 1000, type: res.code }, function () {
                                window.location.reload()
                            })
                        }
                    });
                }
            });



        })

    </script>

    {% endblock%}