{% extends '../index.html'%}
{% block content%}
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">角色授权</h3>
        <br/>
        <p class="panel-subtitle">角色名称--->{{roleMesage.title}}</p>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <form id="addAccess" class="form-horizontal">
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <input type="hidden" name="roleId" value="{{id}}">
                    <table class="table table-scripted ">    
                        {% for item in accessListA %}
                        <tr>
                            <td>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="accessNode[]" value="{{item.id}}" {{'checked' if item.checked else '' }}>
                                    <span>{{item.moduleName}}</span>
                                </label>
                            </td>
                            <td>
                                {% for itemA in item.accesses%}
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="accessNode[]" value="{{itemA.id}}" {{'checked' if itemA.checked else '' }}>
                                    <span>{{itemA.actionName}}</span>
                                </label>
                                {% endfor%}
                            </td>
                        </tr>
                        {% endfor%}

                    </table>
                    <div class="form-group text-center">
                        <button class="btn btn-primary btn-sm" type="submit">立即提交</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block js%}
<script src="/public/assets/vendor/jquery-validate/jquery.validate.js"></script>
<script src="/public/assets/vendor/jquery-validate/messages_zh.js"></script>
<script>
    $(function () {
        $("#addAccess").validate({
            rules: {},
            message: {},
            submitHandler: function (form) {
                $.ajax({
                    type: 'post',
                    url: '/admin/role/auth',
                    data: $(form).serialize(),
                    success: function (res) {
                       $.message(res.message,{icon:res.code,time:1000},function(){
                           window.location.reload()
                       })
                    }
                })
            }
        })


    })



</script>
{% endblock%}